
<h1>TroupeIT Player</h1>

<div class="panel">
  <div class="panel-body">

    <% if @valid_keys.count > 0 -%>
    <h2>Linked devices</h2>
    
    <%= button_to "Remove All Devices", {action: "revoke_all" },
        method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
    <table class="table">
      <tr>
        <th>
          Name
        </th>
        <th colspan=2>
          Created At
        </th>
      </tr>
      
      <% @valid_keys.each { |a| -%>
      <tr>
        <td>
          <%= a.name %>
        </td>
        <td>
          <%=Time.at(a.created_at).in_time_zone(current_user.time_zone).strftime(SHORT_TIME_FMT_TZ) %>
        </td>
        <td>
          <%= button_to "Delete", {action: "destroy", id: a.id.to_s },
              method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
        </td>
      </tr>
    <% } -%>
    </table>
    <% end -%>
    
    <h2>Activate a new device</h2>

  <p>
    To add a new device to your account, just enter the PIN that is
    displayed when you start the troupeIT player app.
  </p>
  
  <%= form_for @newapikey,  :url => url_for(:controller => 'apikeys', :action => 'pair') do |f| %>
  <div class="col-lg-2">
    Activation Code<br/>
    <%= f.text_field :temppin, :class => "form-control" %><BR>
    <%= f.submit 'Activate', :class=>'btn btn-success btn-sm' %>
    </div>
  <% end -%>

  </div>
</div>
