<!-- begin login -->
<div class="container">
  <div class="row justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup mg-btm" }) do |f| %>
    <div class="main">
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
        <h3 class="heading-desc">
          Sign Up
        </h3>
          <%= f.hidden_field :used_code, value: params[:invite_code] %>
          <%= f.label :username, "Username" %>
          <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control", placeholder: "Full Name" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <%= f.label :email, "E-Mail", id: "email" %>
          <%= f.text_field :email, class: "form-control", placeholder: "E-Mail" %>
        </div>
        <div class="col-md-3">
          <div id="correction" class="float-end"></div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, class: "form-control", placeholder: "Password", oninput: "update_and_checkpw(this)" %>
          <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Password", oninput: "update_and_checkpw(this)", style: "display:none;" %>
          <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" name="showpw" id="showpw" value="1">
            <label class="form-check-label" for="showpw">
              Show password
            </label>
          </div>
          <label class="mt-3">Password Strength (green is good!)</label>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" id="pwstrengthbar"></div>
          </div>
          <div class="mb-20px">
            <button type="submit" class="btn btn-theme d-block w-100 h-45px btn-lg">Register</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

      

<script>
$(function() { 
  $('input#user_username').focus();

  $( "#showpw" ).click(function() {
     if ($(this).is(':checked')) {
       $( "#user_password" ).hide();
       $( "#user_password_confirmation" ).show();
     } else {
       $( "#user_password" ).show();
       $( "#user_password_confirmation" ).hide();
     }
  });

});


var $email = $('#user_email');
var $correction = $("#correction");

$email.on('blur',function() {
  $correction.css('display', 'none').empty();
  $(this).mailcheck({
    suggested: function(element, suggestion) {
      if(!$correction.html()) {
        // First error - fill in/show entire correction element
        var suggestion = "Did you mean <span class='suggestion'>" +
            "<span class='address'>" + suggestion.address + "</span>"
            + "@<a href='#' class='domain'>" + suggestion.domain +
            "</a></span>?";
        
        $correction.html(suggestion).fadeIn(150);
      } else {
        // Subsequent errors
        $(".address").html(suggestion.address);
        $(".domain").html(suggestion.domain);
      }
    }
  });
});

$correction.on('click', '.domain', function() {
  // On click, fill in the field with the suggestion and remove the correction
  $email.val($(".suggestion").text());
  $correction.fadeOut(200, function() {
    $(this).empty();
  });
  return false;
});

</script>


