<script>
  $(function() {
    /* update the maxlengths */
    var n = 0;
    var controls = $(".form-control");
    
    for ( var i = 0; i < controls.length; i++) { 
      enforce_maxlength($(".form-control")[i], '#count' + (i+1));
    }
  });
</script>

<div class="alert alert-warning"><B>Heads up!</B> If any of these
fields are blank, this page will show up as "incomplete" on the main
dashboard. So for any that you aren't answering, such as optional
ones, enter "n/a" in the form for "Not Applicable."</div>

<%= form_for([@app, @entry], :html => {:class => "form-vertical", :role => "form"}) do |f| %>
    <input type=hidden name="for_app" value="<%= @app.id.to_s %>">
    <% if @entry.errors.any? %>
        <div class="alert alert-danger">
          <%= pluralize(@entry.errors.count, "error") %> prohibited
          your entry from being saved. Please correct the errors below
          and try again.
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :video_notes, "If your video is more than one minute longer than the category limit, then please indicate what you will cut. (If your video is the correct length, answer \"n/a\") ", :class => "control-label" %>
      <%= f.text_area :video_notes, :class => "form-control",  :onkeyup => "enforce_maxlength(this, '#count3');", :onchange => "enforce_maxlength(this, '#count3')", :maxlength => 200 %>  
      <div class="pull-right"><span id="count3">200</span>&nbsp;characters&nbsp; left</div>
    </div>

    <div class="form-group">
      <%= f.label :comments, "Any additional comments, thoughts, or suggestions? (This question is optional; if none, please put \"n/a\". You can answer up to a few sentences.)", :class => "control-label" %>
      <%= f.text_area :comments, :class => "form-control", :onkeyup => "enforce_maxlength(this, '#count4');", :onchange => "enforce_maxlength(this, '#count4')", :maxlength => 300 %> 
      <div class="pull-right"><span id="count4">300</span>&nbsp;characters&nbsp; left</div>
    </div>

    <% if @app.locked == true -%> 
    <P><strong>This application has been submitted and cannot be edited</strong></p>
    <%= link_to 'Back to Dashboard', dashboard_app_path(@app), :class => "btn btn-success" %>
    <% else -%>
    <div class="actions">
      <%= link_to 'Cancel', dashboard_app_path(@app), :class => "btn btn-danger" %>
      <%= f.submit :class => "btn btn-primary" %>
    </div>
    <% end -%>
<% end %>
