<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>City from</th>
      <th>Country from</th>
      <th>Performer url</th>
      <th>Category</th>
      <th>Compete preference</th>
      <th>Video url</th>
      <th>Years applied</th>
      <th>Years performed</th>
      <th>Other stage names</th>
      <th>Favorite thing</th>
      <th>Years experience</th>
      <th>Style</th>
      <th>Why act unique</th>
      <th>Outside work</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.type %></td>
        <td><%= entry.city_from %></td>
        <td><%= entry.country_from %></td>
        <td><%= entry.performer_url %></td>
        <td><%= entry.category %></td>
        <td><%= entry.compete_preference %></td>
        <td><%= entry.video_url %></td>
        <td><%= entry.years_applied %></td>
        <td><%= entry.years_performed %></td>
        <td><%= entry.other_stage_names %></td>
        <td><%= entry.years_experience %></td>
        <td><%= entry.style %></td>
        <td><%= entry.why_act_unique %></td>
        <td><%= entry.outside_work %></td>
        <td><%= entry.comments %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
