<SCRIPT>

function move( id_1, id_2 ){
  //the box where the value will come from
  var opt_obj = document.getElementById( id_1 );
  
  //the box where the value will be locationd
  var sel_obj = document.getElementById( id_2 );
  
  for ( var i = 0; i < opt_obj.options.length; i++ ){ //loop to check for multiple selections
    
    if ( opt_obj.options[i].selected == true ){ //check if the option was selected
      
      //value to be transfered
      var selected_text = opt_obj.options[i].text;
      var selected_value = opt_obj.options[i].value;
      
      //remove from opt
      opt_obj.remove( i );
      
      //decrease value of i since an option was removed 
      //therefore the opt_obj.options.length will also decrease
      i--;
      
      //process to sel
      var new_option_index = sel_obj.options.length;
      sel_obj.options[new_option_index] = new Option( selected_text, selected_value );
      
    }
  }
 }
function selectAll( obj_arr ){
    var obj_sel;
    for ( var i = 0; i < obj_arr.length; i++ ){
        obj_sel = document.getElementById( obj_arr[i] );
        for( var j = 0; j < obj_sel.options.length; j++ ){
            obj_sel.options[j].selected = true;
        }
        
    }
    
}

</script>

<div class="panel panel-body">
  <div class="col-md-2">
    <%= react_component 'Avatar', {:name => @user.name.titleize, :facebookId => @user.uid, :round => true } %>
  </div>
<h1><%= @user.name%> (<%= @user.username %>)</h1>

<!-- User Id: <%=@user._id %> -->
<%= form_for(@user,  :html => {  :class=>"form-horizontal", :onsubmit=>"return selectAll( new Array( 'role_r' ) );" } ) do |f| %>
<fieldset>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@act.errors.count, "error") %> prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <legend>Account Information</legend>
    <% if not @user.deleted_at.nil? -%>
    <div class="alert alert-danger" role="alert">
    <strong>Deleted User!</strong> This user was deleted at <%= @user.deleted_at %>
    </div>
    <div>
    <a class="btn btn-warning" href="/users/<%=@user.id%>/undelete"><i class="glyphicon white glyphicon-plus"></i> Undelete</a>
    <% else -%>
    <div>
    <% end -%>
    <a class="btn btn-info" href="/users/<%=@user.id%>/become"><i class="glyphicon white glyphicon-log-in"></i> Become</a>
    </div>
    <hr>
    
    <div class="form-group">
       <%= f.label :name, "Name *", :class=>"col-sm-2 control-label required" %>
      <div class="col-sm-8">
       <%= f.text_field :name, :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :email, "Email *", :class=>"col-sm-2 control-label required" %>
      <div class="col-sm-8">
        <%= f.text_field :email, :class=> "form-control" %>
      </div>
    </div>

    <div class="form-group">
       <%= f.label :provider, "Provider", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :provider, :class=> "form-control" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :last_sign_in_ip, "Last IP", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :last_sign_in_ip, :class=> "form-control", :readonly => true %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :last_sign_in_at, "Last Sign In", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :last_sign_in_at, :class=> "form-control", :readonly => true %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :sign_in_count, "Sign In Count", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :sign_in_count, :class=> "form-control", :readonly => true %>
      </div>
    </div>

    <% if @user.provider == "" -%>
    <div class="form-group">
        <%= f.label :password, "New Password", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, :class=> "form-control" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.label :password, "New Password (confirm)", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :class=> "form-control" %>
      </div>
    </div>
    <% end -%>
    
    <div class="form-group">
        <%= f.label :admin, "Super Admin?", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-2">
        <%= f.check_box :admin %>
      </div>
    </div>
    
    <div class="form-group">  
      <div class="col-sm-2 control-label">
        Roles
      </div>
      <div class="col-sm-2">
        <div class="select_title">Available Roles</div>  
        
        <select name="role_l" id="role_l" size="7" multiple="multiple" width=150>
          <% @roles.each do |r| -%>
           <% if not @user.roles.include?(r) -%>
           <option value="<%=r._id.to_s%>"><%=r.name%></option>
           <% end -%>
           <% end -%>
        </select>
        
      </div>
      <div class="col-sm-1">
        <P>&nbsp;</P>
        <!– option move to right button –>
         <button type="button" onclick="move( 'role_l', 'role_r' )"> > </button>
         <br />
         <!– option move to left button –>
         <button type="button" onclick="move( 'role_r', 'role_l' )"> < </button>
                                                                       </div>
      
      <div class="col-sm-2">
        <div class="select_title">User Roles</div>
        <select name="role_r[]" id="role_r" size="7" multiple="multiple" width=150>
          <% @roles.each do |r| -%>
          <% if @user.roles.include?(r) -%>
          <option value="<%=r._id.to_s%>"><%=r.name%></option>
          <% end -%>
          <% end -%>
        </select>
      </div>
    </div>

    <div class="form-group">
       <%= f.label :provider, "Stripe Customer ID", :class=>"col-sm-2 control-label" %>
      <div class="col-sm-8">
        <input class="form-control" value="<%=@user.stripe_customer_id %>" readonly="true">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-10">
        <%= f.submit :class=>"btn btn-primary" %>
      </div>
    </div>

  </fieldset>
<% end %>

<% if @companies -%>
<h3>Company Memberships</h3>
<TABLE CLASS="table table-striped">
  <TR>
    <TH>Company</TH>
    <TH>Access Level</TH>
    <TH>Member Since</TH>
    <TH>Owner</TH>
  </TR>
  <% @companies.each { |cm| -%>
  <TR>
    <TD><A HREF="/profiles/<%=cm.company.id%>/company"><%=cm.company.name%></A></TD>
    <TD><%=::CMACCESS[cm.access_level]%></TD>
    <TD><%=cm.created_at%></TD>
    <TD><A HREF="/users/<%=cm.company.user_id%>"><%=cm.company.user.name%></A></TD>
  </TR>
  <% } -%>
</TABLE>
<% end -%>

<% if @companies_owned -%> 
<h3>Companies Owned</h3>
<TABLE CLASS="table table-striped">
<TR>
<TH WIDTH=200>Name</TH>
<TH>Description</TH>
<TH>Payment Status</TH>
<TH COLSPAN=3>Actions</TH>
</TR>
<% @companies_owned.each { |company| %>
<TR>
  <TD>
  <%=company.name %>
  </TD>
  <TD>
  <%=company.description %>
  </TD>
  <TD>
    <% if company.last_payment -%>
        Last Payment: <%=company.last_payment %><BR>
    <% end -%>
    
    <% if company.paid_through -%>
     <strong>
      <%=company.subscription_plan.name%><br/>
     </strong>
      Paid Through: <%=company.paid_through %><BR>
      <% if company.stripe_customer_id -%>
        Customer ID: <%=company.stripe_customer_id %> / <%=company.stripe_subscription_id %><BR>
      <% end -%>
    <% else -%>
    No subscription.
    <% end -%>
  </TD>
  <TD>
    <%= link_to 'Comp', make_comp_company_path(company), class: 'btn btn-success', method: 'POST'  %>
  </TD>
</TR>
<% } %>
</TABLE>
<% end -%>

<h3>Acts</h3>
<table class="table table-striped">
  <tr>
	<% if @showowner %>
    <th>Owner</th>
	<% end %>
    <th>Stage Name</th>
    <th>Short Description</th>
    <th colspan=3>Actions</th>
  </tr>
<% @user.acts.each { |act| %>
<%=render act %>
<% } %>
</table>

<% if @user.passets.length > 0 -%>
<h3>Assets</h3>
<TABLE CLASS="table table-striped">
<TR>
<% if defined? @adminindex -%>
<TH>Owner</TH>
<% end -%>
<TH>File</TH>
<TH>Actions</TH>
</TR>
<% @user.passets.each { |passet| %>
<%= render :partial => '/passets/passet', :locals => { :passet => passet } %>
<% } %>
</TABLE>
<% end -%>


<h3>BHOF Apps (Member ID <%=@user.bhof_member_id %>)</h3>
<TABLE CLASS="table table-striped">
<TR>
<TH>ID</TH>
<TH WIDTH=200>Name</TH>
<TH>Status</TH>
<TH>Created</TH>
<TH>Event Code</TH>
<TH>Purchase IP</TH>
<TH>Purchased At</TH>
<TH>Paypal Express ID</TH>
<TH>Stripe Customer ID</TH>
</TR>
<% @user.apps.each { |a| %>
<TR>
  <TD>
    <a href="<%=app_path(a)%>"><%=a.id.to_s %></a>
  </TD>
  <TD>
    <%=a.description %>
  </td>
  <TD>
      <% if a.entry %>
        <div class="badge badge-success">entry exists</div>
      <% end -%>
      <% if a.entry_techinfo %>
        <div class="badge badge-success">techinfo exists</div>
      <% end -%>
      <% if a.is_complete? %>
        <div class="badge badge-success">app.iscomplete</div>
      <% end -%>
      <% if a.locked? %>
        <div class="badge badge-success">locked</div>
      <% end -%>
      <% if a.purchased_at.present? %>
        <div class="badge badge-success">paid</div>
      <% else -%>
        <div class="badge badge-danger">unpaid</div>
      <% end -%>
  </TD>
  <TD>
    <%=a.created_at %>
  </TD>
  <TD>
    <%=a.event_code %>
  </TD>
  <TD>
    <%=a.purchase_ip %>
  </TD>
  <TD>
    <%=a.purchased_at %>
  </TD>
  <TD>
    <%=a.express_payer_id %>
  </TD>
  <TD>
    <%=a.stripe_customer_id %>
  </TD>
</TR>
<% } -%>
</TABLE>

</div>
