<div class="alert alert-warning"><B>Heads up!</B> If any of these fields are blank, this page will show up as "incomplete" on the main dashboard. So for any that you aren't answering, such as optional ones, enter "n/a" in the form for "Not Applicable."</div>

<%= form_for([@app, @entry], :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <input type=hidden name="for_app" value="<%= @app.id.to_s %>">
    <% if @entry.errors.any? %>
        <div class="alert alert-danger">
          <%= pluralize(@entry.errors.count, "error") %> prohibited
          your entry from being saved. Please correct the errors below
          and try again.
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :type, "Act Type", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.select(:type, options_for_select([["Solo","1"],["Small Group","2"],["Large Group","3"]], @entry.type), {:include_blank => " -- select one --" }, { :class => "form-control"} )%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, "Performer or Group Name", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :name, :class => "form-control" %>
        <P class="help-block">Performer name for your act (with no by-line)</p>
      </div>
    </div>

    <div class="solooptions" style="display:none">

    <div class="form-group">
      <%= f.label :category, "Category", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.select(:category, options_for_select([["(female) Main Category (Queen of Burlesque)",1],["(female) Debut", 2], ["Boylesque" , 3]], @entry.category), {:include_blank => " -- select one --" }, { :class => "form-control"} )%>
      </div>
    </div>
    </div>

    <div class="groupoptions" style="display:none">

     <div class="form-group">
      <%= f.label :num_performers, "Total Number of Performers", :class => "control-label col-xs-4" %>
       <div class="col-xs-4">
         <%= f.text_field :num_performers, :class => "form-control" %>
       </div>
     </div>

     <div class="form-group">
      <%= f.label :type, "Performer Names", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_area :all_performer_names, :class => "form-control" %>
        <P>
         Please list a legal name and stage name for each performer. For
         instance: Jennifer Doe (Creamy Cupcakes), Bruce Wayne (Batman)
        </p>
      </div>
     </div>
    </div>

    <div class="form-group">
      <%= f.label :city_from, "Home City", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :city_from, :class => "form-control" %>
        <P>Your home city (as it would be listed in a printed program)</P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :country_from, "Home Country", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :country_from, :class => "form-control" %>
        <P>Your home country (as it would be listed in a printed program)</P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :compete_preference, "Competitive / Non-Competitive", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.select(:compete_preference, 
            options_for_select([["I'm only interested in competing",1],
                                ["I'll take either! Competing or showcase (non-competitive)" , 3],
                                ["I'm only interested in showcase (non-competitive)", 2]], @entry.compete_preference), 
            {:include_blank => " -- select one --" }, { :class => "form-control"} )%>

        <P>We are planning to offer both competitive spots (for a title) and noncompetitive showcase spots. Please indicate your preference.</P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :video_url, "Web link to video of the act", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :video_url, :class => "form-control" %>
        <P>
          Weblink of footage of the solo act you are submitting-- we highly recommend using a free URL-shortening
          service like http://bit.ly or Tinyurl.com, but be sure to test it first
          (Link must be viewable until the full lineup is published. See the <a href="/bhof/rules" target="_blank">rules</a> for more
          info.)
        </P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :performer_url, "Your Website", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :performer_url, :class => "form-control" %>
        <P>Your website (if none, please write N/A)</P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :years_performed, "List years you have previously performed at BHoF (if any)", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :years_performed, :class => "form-control" %>
        <P>List any previous years that you have performed at the pageant (either competitive or noncompetitive) and the category, if applicable. If none, please put "N/A"</P>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :years_applied, "List any years that you have previously applied to perform at BHoF", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :years_applied, :class => "form-control" %>
        <P>List any previous years that you have applied, regardless of whether you were accepted or not. (Just list the years only. If none, please put "N/A")</P>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :other_stage_names, "Other Stage Names", :class => "control-label col-xs-4" %>
      <div class="col-xs-4">
        <%= f.text_field :other_stage_names, :class => "form-control" %>

        <P>List any other stage names you have previously used in performing burlesque. If none, please put "N/A"
         </P>    
      </div>
    </div>

    <% if @app.locked == true -%> 
    <P><strong>This application has been submitted and cannot be edited</strong></p>
    <%= link_to 'Back to Dashboard', dashboard_app_path(@app), :class => "btn btn-success" %>
    <% else -%>
    <div class="actions">
      <%= link_to 'Cancel', dashboard_app_path(@app), :class => "btn btn-danger" %>
      <%= f.submit 'Save Page', :class=>"btn btn-primary" %>
    </div>
    <% end -%>

<% end %>

<script>
$( function() { 
 function update_groupbox() { 
   /* handle the group options box as needed */
   if ( ($("#entry_type").val() == "2") || ( $("#entry_type").val() == "3" )) {
     $(".groupoptions").show();
     $(".solooptions").hide();
   } else { 
     $(".groupoptions").hide();
     $(".solooptions").show();
   };
 };

 $( "#entry_type" ).change(function() {
   update_groupbox();
 });

 update_groupbox();

});
</script>
<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
