<div class="panel bs-docs-container">
  <div class="panel-body">
    <h2> <a href="/apps">Applications</a> <i class="fa fa-angle-right"></i>
      <%=link_to "Dashboard", dashboard_app_path(@app) %> <i class="fa fa-angle-right"></i>
<% if @part == 1 -%>Act Information: <%=@app.description%></h2>
<%= render 'form' %>
<% else -%>Short Answers: <%=@app.description%></h2>
<%= render 'form_part2' %>
<% end -%>


<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
</div>
</div>
