<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entry.type %>
</p>

<p>
  <strong>City from:</strong>
  <%= @entry.city_from %>
</p>

<p>
  <strong>Country from:</strong>
  <%= @entry.country_from %>
</p>

<p>
  <strong>Performer url:</strong>
  <%= @entry.performer_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category %>
</p>

<p>
  <strong>Compete preference:</strong>
  <%= @entry.compete_preference %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @entry.video_url %>
</p>

<p>
  <strong>Years applied:</strong>
  <%= @entry.years_applied %>
</p>

<p>
  <strong>Years performed:</strong>
  <%= @entry.years_performed %>
</p>

<p>
  <strong>Other stage names:</strong>
  <%= @entry.other_stage_names %>
</p>

<p>
  <strong>Years experience:</strong>
  <%= @entry.years_experience %>
</p>

<p>
  <strong>Style:</strong>
  <%= @entry.style %>
</p>

<p>
  <strong>Why act unique:</strong>
  <%= @entry.why_act_unique %>
</p>

<p>
  <strong>Outside work:</strong>
  <%= @entry.outside_work %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @entry.comments %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
