<script>

$(function() {

  $('#show_show_time').datetimepicker({
    sideBySide: true,
    format: 'YYYY-MM-DD HH:mm:ss'
  });


  $('#show_door_time').datetimepicker({
    sideBySide: true,
    format: 'YYYY-MM-DD HH:mm:ss'
  });

  /* init the pickers */
  if ($('#show_door_time').val() == "") {
    now = moment();
    $('#show_door_time').data("DateTimePicker").date(now);
  }

  if ($('#show_show_time').val() == "") {
    now = moment();
    $('#show_show_time').data("DateTimePicker").date(now);
  }

  $("#show_door_time").on("dp.change", function (e) {
    doordate = e.date.format("YYYYMMDD")
    d = $('#show_show_time').data("DateTimePicker").date()
    showdate = d.format("YYYYMMDD")

    if (showdate != doordate) {
      $('#show_show_time').data("DateTimePicker").date(e.date);
    }

    $('#show_show_time').data("DateTimePicker").minDate(e.date);
    $('#show_show_time').data("DateTimePicker").maxDate(e.date);

  });

  $("#show_show_time").on("dp.change", function (e) {
    $('#show_door_time').data("DateTimePicker").maxDate(e.date);
  });
});
</script>

<div class="well">
<%= form_for @show, :html => { :class => "form-horizontal" } do |f| %>
 <fieldset>
 <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
  <div class="form-group">
    <%= f.label :title, "Title", :class=>"col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :title, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :venue, "Venue", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
     <%= f.text_field :venue, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :door_time, "Door Time", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :door_time, :class => "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :show_time, "Show Time", :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.text_field :show_time, :class => "form-control" %>
    </div>
  </div>
<BR>
    <%= link_to 'Cancel', shows_path, :class => "btn btn-danger" %>
    <%= f.submit "Save Details", :class => "btn btn-primary" %>


</fieldset>
<% end %>
</div>
