<h2>Show Setlist: <%= link_to "#{@show.title}", edit_show_path(@show) %><BR>
<%=@show.door_time.strftime(SHORT_TIME_FMT)%></h2>


<div id="stylized" class="myform">

<P>Build the show here. Add music, video, and image assets to the
show. Perfomer information will be automatically filled in. Drag and Drop the rows to reorganize the show.
</p>


<%= form_tag do %>
<label for="search">
Search
<span class="small">
Search for asset here by performer name or by filename.
</span>
</label>


  <%= text_field_tag('asset_search', '', :class => 'textfield') %> 
  <script type='text/javascript'>
   $(document).ready(function($) {
    $('#asset_search').autocomplete({
      source: '/passets/search.json',
      minLength: 2,
      delay: 100,
      dataType: 'json',
      select: function (e,ui) { 
         $('#additem_uuid').val(ui.item.id) 
      },
   });
});
  </script>

<br clear=all>
<% end %>

<%= form_for :additem, :id =>"form"  do |f| %>
<%= f.text_field :uuid %>
<%= f.submit "Add Asset", :class => "uploadbutton" %>
<% end -%>
<P><A HREF="">Add Note/Intermission</A> | <A HREF="">Download Show</A></P>

<TABLE width=100%>
<TR>
<TH>Start Time</TH>
<TH>Duration</TH>
<TH>Performer</TH>
<TH>Assets</TH>
</TR>
<TR>
<TD ALIGN=CENTER><%=@show.door_time.strftime(TIME_ONLY_FMT)%></TD>
<TD>--</TD>
<TD><B>Doors Open</B><BR><I>LIGHTS: Default</I><BR><I>SOUND: Default</I></TD>
<TD>--</TD>
</TR>
</TABLE>
<FORM>
<INPUT TYPE=Submit VALUE="Save Show" CLASS="uploadbutton">
</form>
</div>
