<%= stylesheet_link_tag "nightmode", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "dataTables.colVis.css", media: "all", "data-turbolinks-track" => true %>
<script src="/mejs/mediaelement-and-player.min.js"></script>
<%= javascript_include_tag "jquery.stickytableheaders.js" %>
<%= render 'emerg_modal' %>
<style>

/*
 * Namespace DTCR - "DataTables ColReorder" plug-in
 */

table.DTCR_clonedTable {
  color: white;
  background-color: black;
  z-index: 202;
}

div.DTCR_pointer {
  width: 1px;
  background-color: #0259C4;
  z-index:201;
}

body.alt div.DTCR_pointer {
  margin-top: -15px;
  margin-left: -9px;
  width: 18px;
  background: url('../images/insert.png') no-repeat top left;
}

table.cuetable {
 border-spacing: 4px;
 border-collapse: separate;
}

table.cuetable th.focus,
table.cuetable td.focus {
  outline: 3px solid #3366FF;
  outline-offset: -3px;
}

table.cuetable td { 
    padding: 0.5em 1em;
    border-collapse: seperate;
    border-radius: .5em;
    margin: .5em;
    vertical-align: top;
}

table.cuetable tr { 
    background-color: #333333;
    color: white;
}

.right {
    float:right; 
    margin-right:10px;
}
	 
#top { 
    display: inline-block;
    vertical-align:top;
}
#bot {
    display: inline-block;
    vertical-align:bottom;
}

#bot:before{
    content: '';
    display: inline-block;
    height: 100px;
}

.righticon {
	float:right;
}

.toptitle { 
  font-size: 24px;
  z-index:300;
}

.topcontrols { 
  float:right;
  padding: 5px;
  margin-right: 30px;
  z-index:300;
}

.topcenter {
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background: #000000;
  overflow: visible;
  height: auto;
  z-index: 250;
  right: 0;
  margin: 0px;
  margin-left: 0px;
  padding-left:14px;
  top: 50px;
  text-align: left;
}

.highlighted>td {
  background-color: #330099;
}

.markitem { 
  padding-top:20px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border:0;
}

.unmarkitem { 
  padding-top:20px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border:0;
}

.emergmsg {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:90%;
    z-index:100;
}
.alignRight { text-align: right; }

.showlist {
    width: 100%;
}
.showlist * {
    box-sizing: initial;
}
</style>

<p id="notice"><%= notice %></p>
<div class="topcenter">
<P>
  <span class="toptitle"><%= @show.title %> @ <%= @show.venue %></span>
<!--  <b>Door time:</b>
  <%= @show.door_time.strftime(SHORT_TIME_FMT) %>&nbsp;|&nbsp;<b>Show time:</b> <%= @show.show_time.strftime(SHORT_TIME_FMT) %>
-->
  <span class="topcontrols" id="navbuttons">
    <button class="btn btn-success btn-sm" id="refreshBtn">
    <span class="glyphicon-refresh glyphicon white"></span> Refresh </button>
    <button class="btn btn-danger btn-sm" id="emergBtn">
    <span class="glyphicon-fire glyphicon white"></span> Emergency Msg </button>

<div class="DTTT_container"><a class="DTTT_button DTTT_button_copy" id="ToolTables_showlist_0" tabindex="0" aria-controls="showlist"><span>Copy</span><div style="position: absolute; left: 0px; top: 0px; width: 48px; height: 29px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_1" src="<%=asset_path "copy_csv_xls_pdf.swf"%>" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="48" height="29" name="ZeroClipboard_TableToolsMovie_1" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=48&amp;height=29" wmode="transparent"></div></a><a class="DTTT_button DTTT_button_csv" id="ToolTables_showlist_1" tabindex="0" aria-controls="showlist"><span>CSV</span><div style="position: absolute; left: 0px; top: 0px; width: 42px; height: 29px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_2" src="<%=asset_path "copy_csv_xls_pdf.swf"%>" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="42" height="29" name="ZeroClipboard_TableToolsMovie_2" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=42&amp;height=29" wmode="transparent"></div></a><a class="DTTT_button DTTT_button_xls" id="ToolTables_showlist_2" tabindex="0" aria-controls="showlist"><span>Excel</span><div style="position: absolute; left: 0px; top: 0px; width: 48px; height: 29px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_3" src="<%=asset_path "copy_csv_xls_pdf.swf"%>" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="48" height="29" name="ZeroClipboard_TableToolsMovie_3" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=48&amp;height=29" wmode="transparent"></div></a><a class="DTTT_button DTTT_button_pdf" id="ToolTables_showlist_3" tabindex="0" aria-controls="showlist"><span>PDF</span><div style="position: absolute; left: 0px; top: 0px; width: 41px; height: 29px; z-index: 99;"><embed id="ZeroClipboard_TableToolsMovie_4" src="<%=asset_path "copy_csv_xls_pdf.swf"%>" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="41" height="29" name="ZeroClipboard_TableToolsMovie_4" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=4&amp;width=41&amp;height=29" wmode="transparent"></div></a><a class="DTTT_button DTTT_button_print" id="ToolTables_showlist_4" title="View print view" tabindex="0" aria-controls="showlist"><span>Print</span></a></div>

  </span>
</p>
</div>
<div class="alert alert-danger emergmsg" id="emergdiv" style="display: none;">
<div id="emergmsg"></div>
</div>
<script>
$(window).scroll(function(e){ 
  $el = $('.emergmsg'); 
  if ($(this).scrollTop() > 50 && $el.css('position') != 'fixed'){ 
    $('.emergmsg').css({'position': 'fixed', 'top': '60px', 'width': '90%'}); 
  } 
});
</script>

<table class="cuetable table dataTable showlist" id="showlist" cellpadding="0" cellspacing="0" border="0" style="margin: 0px">
<thead>
<tr>
     <TH>Seq</TH>
     <TH>Cue<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Cue Description<span class="glyphicon-align-justify glyphicon white right"></span></TH>
     <TH>MC Intro<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Sound<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Lights<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Stage<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Cleanup<span class="glyphicon-align-justify glyphicon white right"></TH>
     <TH>Notes<span class="glyphicon-align-justify glyphicon white right"></TH>
</tr>
</thead>
<tbody>
<!-- data -->
</tbody>
</TABLE>

<script>
/* when is_playing is 1, we stop all page refreshes as that will kill the audio */
var is_playing = 0;

$.extend( $.fn.dataTableExt.oStdClasses, {
    "sSortAsc": "header headerSortDown",
    "sSortDesc": "header headerSortUp",
    "sSortable": "header"
} );

$.extend( $.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
} );

var showDT;
var showHeader;

/* set up acts datatable */
$(document).ready(function() {
  var intervalId;

  var closePrintView = function(e) {
    if(e.which == 27) {
        printViewClosed(); 
    }
  };

  function printViewClosed() {
    showDT.fnSetColumnVis(6, true);
    $(window).unbind('keyup', closePrintView);
  }

  function check_for_refresh() { 
    /* we track pause vs not paused here the table refresh will stop all audio */
    if (is_playing == 0) { showDT.ajax.reload(); }     /* during playback, we block refreshes. */
  }
  
  /* only allow one audio player to play at a time (html5audio tag only)*/
  document.addEventListener('play', function(e){
    is_playing = 1;
    var audios = document.getElementsByTagName('audio');
       for(var i = 0, len = audios.length; i < len;i++){
           if(audios[i] != e.target){
            audios[i].pause();
          }
         }
    }, true);

  document.addEventListener('pause', function(e){
    is_playing = 0;
    }, true);

  /* turn on player */
  $('video,audio').mediaelementplayer({
      // initial volume when the player starts
      startVolume: 0.8,
      // useful for <audio> player loops
      loop: false,
      // the order of controls you want on the control bar (and other plugins below)
      features: ['playpause', 'progress', 'current', 'duration', 'remaining'],
      alwaysShowHours: false,
      // used when showTimecodeFrameCount is set to true
      framesPerSecond: 25,
      // turns keyboard support on and off for this instance
      enableKeyboard: false,
      // when this player starts, it will pause other players
      pauseOtherPlayers: true,
      // array of keyboard commands
      keyActions: []
  });
  
  showDT = $('#showlist').DataTable( {
      "sDom": "T<'row'<'col-xs-12'l><'col-xs-12'>r>t<'row'<'col-xs-12'>>",
      "tableTools":  {
         "aButtons": [
           "copy",
           "csv",
           "xls",
             {
               "sExtends": "pdf",
               "sPdfOrientation": "landscape",
               "sTitle":"<%= @show.title %> @ <%= @show.venue %>",
               "sPdfMessage": "Door time: <%= @show.door_time.strftime(SHORT_TIME_FMT) %>    Show time: <%= @show.show_time.strftime(SHORT_TIME_FMT) %>"

             },
          "print"
]
      },
      "stateSave": true,
      "bAutoWidth": false,
      "sAjaxSource": "/shows/<%=@show.id%>/show_items.json?m=1",
      "sPaginationType": "bootstrap",
      "iDisplayLength": 100,
      "bSort" : false,
  	  "columns" : [
  		  { data: "seq", width: "50px", sClass: "alignRight" },
  		  { data: "cue", width: "200px" },
  		  { data: "cue_description", width: "200px" },
  		  { data: "mc_intro", width: "200px" },
  		  { data: "sound", width: "320px" },
  		  { data: "lights", width: "200px" },
  		  { data: "stage", width: "200px" },
  		  { data: "clean_up", width: "200px" },
  		  { data: "performer_notes", width: "200px" },
  	  ],
      "oLanguage": {
        "sLengthMenu": ""
      },
      "fnRowCallback" : function ( nRow, aData, iDisplayIndex) { 
          // add on the mark/flag button based on the ajax data
          var id = $('td:eq(0)',nRow).html();
          var tag = "markitem";
          var glyph = "flag";

          if (aData.highlighted == true) {
                tag = "unmarkitem";
                glyph = "ban-circle"; 
          }

          $('td:eq(0)', nRow).html("<B>" + (iDisplayIndex+1) + "</B><BR><button class=\"glyphicon glyphicon-" + glyph + " noprint " + tag + "\" id=\"" + aData.DT_RowId + "\"></button>");
      },
      "fnServerData": function ( sSource, aoData, fnCallback ) {
          $.ajax({'datatype':'json',
                'type':'GET',
                'url':sSource,
                'data':aoData,
                'success':function(json) {               
                   fnCallback(json);
                   if (! intervalId) { 
                     intervalId = setInterval(function() { check_for_refresh(); }, 2000);
                    }

                   /* highlight row on callback */
                   var aTrs = showDT.rows().nodes();

                   for ( var i=0 ; i < aTrs.length ; i++ )
                   {
                     if ( aTrs[i].id == json.highlighted )
                     {
                         $(aTrs[i]).addClass('highlighted');
                     }
                   }

                }

               });
        },
      "fnInitComplete": function(settings, json) { 
			   /* fix the header to top of page on scroll */
         showDT.columns.adjust();
         $('.showlist').stickyTableHeaders({fixedOffset: $("div.topcenter").position().top+$("div.topcenter").outerHeight()-4});
	
         /* if we are init'd add ColVis */
         var oColVis = new $.fn.dataTable.ColVis( this.fnSettings(), {
           "aiExclude" : [ 0 ],
           "fnStateChange": function ( iColumn, bVisible ) {
             showDT.columns.adjust();
             $('.showlist').stickyTableHeaders('destroy');
             $('.showlist').stickyTableHeaders({fixedOffset: $("div.topcenter").position().top+$("div.topcenter").outerHeight()-4});
           }});

         $(".topcontrols").append( oColVis.button() );
      }
    });

var showColReorder = new $.fn.dataTable.ColReorder( showDT, {
	// don't let people move the seq/actions column.
	"iFixedColumns": 1
} );
	
  $("table").on("click", "button", function() {
      if (this.classList.contains("markitem")) { 
        var clicked_id = this.id
        var showdata = {
          'id':'<%=@show.id%>',
          'highlighted_row': clicked_id,
          "authenticity_token" : AUTH_TOKEN
        };
      
        $.ajax({
          type: 'PUT',
              dataType: 'json',
              url: '/shows/<%=@show.id%>.json',
              contentType: 'application/json',
              data: JSON.stringify(showdata),
              success: function() { 
                is_playing = 0;
                showDT.ajax.reload();
              }
          });
      }

    });

  $(window).resize(function () { 
     showDT.columns.adjust();
     $('.showlist').stickyTableHeaders('destroy');
     $('.showlist').stickyTableHeaders({fixedOffset: $("div.topcenter").position().top+$("div.topcenter").outerHeight()-4});
  } );

  $("#emergModal").modal('hide');
      
  $("#emergBtn").click( function (e) {
      e.preventDefault();
      is_playing = 0;
      showDT.ajax.reload();
      $('#emergModal').modal('show');
      $(':input:visible:enabled:first').focus();
  });

  $("#refreshBtn").click( function (e) {
          e.preventDefault();
          is_playing = 0;
          showDT.ajax.reload();
    });
	
    /* set up a timer to fetch this via json every second */
    emergIntervalId = setInterval(function(data) {
      $.getJSON("/shows/<%=@show.id%>.json", function(data) { 
        if (data['emergency_msg'] == null || data['emergency_msg'] == "") { 
          $("div#emergdiv").hide();
        } else { 
          $("div#emergmsg").text(data['emergency_msg']);
          $("div#emergdiv").show();
        };
      });
   }, 2000);
   }); 
  
</script>
