<p id="notice"><%= notice %></p>

<h1>Listing Signup Invites</h1>

<div class="panel">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Available</th>
          <th>Expires</th>
          <th>Used count</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @signup_invites.each do |signup_invite| %>
        <tr>
          <td><%= signup_invite.code %></td>
          <td><%= signup_invite.available %></td>
          <td><%= signup_invite.expires %></td>
          <td><%= signup_invite.used_count %></td>
          <td><%= link_to 'Show', signup_invite, { :class => "btn btn-info" } %></td>
          <td><%= link_to 'Edit', edit_signup_invite_path(signup_invite), { :class => "btn btn-warning" } %></td>
          <td><%= link_to 'Destroy', signup_invite, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to "New Invite Code", new_signup_invite_path, { :class => "btn btn-success" }  %>
  </div>
</div>

