<p id="notice"><%= notice %></p>

<div class="panel">
  <div class="panel-body">
    <h3>Invite Code:  <%= @signup_invite.code %></h3>

    <p>
      <strong>Available:</strong>
      <%= @signup_invite.available %>
    </p>
    
    <p>
      <strong>Expires:</strong>
      <%= @signup_invite.expires.blank? ? "Never" : @signup_invite.expires %>
    </p>
    
    <p>
      <strong>Used count:</strong>
      <%= @signup_invite.used_count %>
    </p>
    
    <%= link_to 'Edit', edit_signup_invite_path(@signup_invite), class: 'btn btn-success'  %> 
    <%= link_to 'Back', signup_invites_path, class: 'btn btn-info'  %>
  </div>
</div>
