<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<!-- %%NOWRAP%% -->
<HTML xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <HEAD>
  <%=render 'layouts/meta' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  
  <title>troupeIT - Simple Stage Management Software</title>
</head>
<body>
  <%=render 'layouts/noscript' %>
  <div id="wrap">
    <div class="noprint">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
