<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @decider.key %>
</p>

<p>
  <strong>Value f:</strong>
  <%= @decider.value_f %>
</p>

<%= link_to 'Edit', edit_decider_path(@decider) %> |
<%= link_to 'Back', deciders_path %>
