<!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" class="scrollto" href="#top">troupeIT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class="scrollto" href="#top">Home</a></li>
             <li><a class="scrollto" href="#feature">Features</a></li>
             <li><a class="scrollto" href="#pricing">Pricing</a></li>
             <li><a href="/about/faq">FAQ</a></li>
             <li><a class="btn fus-btn-white" href="/users/sign_in">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div>
  
    <!-- Main component for a primary marketing message or call to action -->
    <div id="top" class="jumbotron">
      <div class="fus-bg"></div>
      <div class="fus-overlay"></div>
      <div class="container">
        <div class="fus-pitch">
          <div class="fus-call-to-action">
            <h1>troupeIT</h1>
            <h2>Bringing Producers, Performers, and Tech Crews together for seamless show managemenent</h2>
              
            <div class="fus-btns">
              <a href="#feature" class="scrollto btn fus-btn-white">Learn More</a>
              <a href="/users/sign_up" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="feature" class="fus-section fus-feature fus-white-bg">
      <div class="container">
        <div class="fus-section-header">
          <h3>Features</h3>
          <h4>Online, in the cloud. Never any software to download or install.</h4>
        </div>
        
        <ul class="nav nav-tabs fus-tabs">
          <li class="active"><a href="#feature1" data-toggle="tab">
              <span class="fa-stack fa-3x">
                <i class="fa fa-circle-o-notch fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
              </span>
              <span class="fus-subtitle">END-TO-END</span></a></li>
          
          <li><a href="#feature2" data-toggle="tab">
              <span class="fa-stack fa-3x">
                <i class="fa fa-cogs fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
              </span>
              <span class="fus-subtitle">WORK TOGETHER</span></a></li>
          
          <li><a href="#feature3" data-toggle="tab">
              <span class="fa-stack fa-3x">
                <i class="fa fa-clock-o fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
              </span>
              <span class="fus-subtitle">REAL-TIME</span></a></li>

          <li><a href="#feature4" data-toggle="tab">
              <span class="fa-stack fa-3x">
                <i class="fa fa-life-ring fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
              </span>
              <span class="fus-subtitle">NO MISTAKES</span></a></li>
          
          <li><a href="#feature5" data-toggle="tab">
              <span class="fa-stack fa-3x">
                <i class="fa fa-fire fa-stack-1x"></i>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
              </span>
              <span class="fus-subtitle">BATTLE TESTED</span></a></li>
        </ul>

        <div class="tab-content fus-tab-content">
          <div class="tab-pane active" id="feature1">
            <div class="row">
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInLeft" href="#" target="_blank">
                  <img src="<%=asset_path "home/dashboard.jpg" %>" alt="Dashboard">
                </a>
              </div>
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>End-to-End Show Management</h3>
                    <h4>Eliminate CDs and multiple online services with one tool</h4>
                  </div>
                  <p>
                    We've all been there. You have notes and
                    information about a show, a collection of digital
                    media assets that need managing, and no time left
                    before show time.
                  </p>
                  <p>
                    By using TroupeIT, your crew can minimize the time
                    spent managing show details, cues, and
                    assets. Everything lives in a single online
                    service that lets you collaborate with your team
                    to produce a great show.
                  </p>
                  <p>
                    Performers can upload their music and
                    act/presentation while the rest of the team
                    creates, updates, and changes the show schedule as
                    needed.
                  </p>
                  <a href="/users/sign_up" class="btn btn-lg">Sign up now <span class="fa fa-chevron-right"></span></a>
                </div>
              </div>
              
            </div>
          </div>
          <div class="tab-pane" id="feature2">
            <div class="row">
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Work Together</h3>
                    <h4>Seamlessly build and edit the same event, together,  in real time.</h4>
                  </div>

                  <P>
                    Grant simple, easy to understand access roles to
                    your crew members, and give them the information
                    they need to make your show great.
                  </p>

                  <p>
                    Create, update, and change the show schedule while accepting submissions from your performers.
                    Stage managers and performers can manage act details, assets, and cues. 
                  </p>
                  <a href="/users/sign_up" class="btn btn-lg">Sign up now <span class="fa fa-chevron-right"></span></a>
                </div>
              </div>
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInRight" href="#" target="_blank">
                  <img src="<%=asset_path "home/together.jpg" %>" alt="Access Control">
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="feature3">
            <div class="row">
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInLeft" href="#" target="_blank">
                  <img src="<%=asset_path "home/liveview.jpg" %>" alt="Live View" width="640">
                </a>
              </div>
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Real Time</h3>
                    <h4>See show changes in the cue sheet and edit screens, as they happen.</h4>
                  </div>
                  <p>
                    Monitor the show in progress in the customizable real-time console.
                    When changes happen during your show, you know.
                    Cues update in real time, with chat, and notifications.
                  </p>

                  <p>
                    Each crew member can customize the live view to only see the information they need. 
                  </p>
                  <a href="/users/sign_up" class="btn btn-lg">Sign up now <span class="fa fa-chevron-right"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="feature4">
            <div class="row">
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInLeft" href="#" target="_blank">
                  <img src="<%=asset_path "home/showcheck.jpg" %>" alt="Preshow Check" width="640">
                </a>
              </div>
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>No Mistakes!</h3>
                    <h4>Eliminate the chance of playing a bad or invalid file.</h4>
                  </div>
                  <P>
                    Unlike using CDs or iTunes for playback, we
                    eliminate the chance of you playing the wrong
                    audio file for a performer. 
                  </p>
                  <P>
                    After your performers upload their music, and your
                    team has built the show, download the show's
                    information and all associated notes as a single file.
                  </p>
                  <p>
                    TroupeIT maintains cue order and tells you if any
                    acts are missing media in a <b>pre-show
                    check</b>. Our Sound Check(beta) feature tells you
                    if music is too quiet or low bitrates.
                  </p>
                  <P>
                    We also provide scripts to import the show into
                    popular playback systems like Figure53's Qlab.
                  </p>
                  <a href="/users/sign_up" class="btn btn-lg">Sign up now <span class="fa fa-chevron-right"></span></a>
                </div>
              </div>
              
            </div>
          </div>
          <div class="tab-pane" id="feature5">
            <div class="row">
              <div class="col-md-6">
                <div class="fus-tab-center animated fadeIn">
                  <div class="fus-header">
                    <h3>Battle Tested</h3>
                    <h4>... and crafted from experience.</h4>
                  </div>
                  <p>
                    Initially developed to support the monthly
                    performances of a leading San Francisco Burlesque
                    troupe, the <i>Hubba Hubba Revue</i>, TroupeIT has
                    managed more than 600 performers in over 100
                    performances over three years.
                  </p>
                  <a href="/users/sign_up" class="btn btn-lg">Sign up now <span class="fa fa-chevron-right"></span></a>
                </div>
              </div>
              <div class="col-md-6 fus-photo">
                <a class="animated bounceInRight" href="#" target="_blank">
                  <img src="<%=asset_path "home/showview.jpg" %>" alt="Preshow Check" width="640">
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div id="pricing" class="fus-section fus-pricing">
      <div class="fus-overlay"></div>
      <div class="container">
        <div class="fus-section-header">
          <h3>Simple Per-Company Pricing</h3>
          <h4>30-day free trial</h4>
        </div>
        <div class="row fus-pricing-table">
          <div class="col-md-4 fus-notfocus">
            <ul class="media-list pull-right">
              <li class="fus-list-header">
                <h5>Monthly</h5>
                <p>$19.99/<small>month</small></p>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Crew Members</h4>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Performers</h4>
                </div>
              </li>

              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited File Storage</h4>
                </div>
              </li>
              <li class="media">
                <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 fus-focus">

            <ul class="media-list pull-right">
              <li class="fus-list-header">
                <h5>Three MONTHS</h5>
                <p>$14.99/<small>month</small></p>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Crew Members</h4>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Performers</h4>
                </div>
              </li>

              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited File Storage</h4>
                </div>
              </li>

              <li class="media">
                <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 fus-notfocus">


            <ul class="media-list pull-right">
              <li class="fus-list-header">
                <h5>Six Months</h5>
                <p>$9.99/<small>month</small></p>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Crew Members</h4>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited Performers</h4>
                </div>
              </li>

              <li class="media">
                <a class="pull-left" href="#">
                  <span class="glyphicon glyphicon-ok-circle media-object"></span>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Unlimited File Storage</h4>
                </div>
              </li>
              <li class="media">
                <a href="/users/sign_up" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="about" class="fus-section fus-about">
      <div class="fus-overlay"></div>
      <div class="container">
        <div class="fus-section-header">
          <h3>Let us work for you.</h3>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-4">
              <h3> Producers </h3>
            <p>
              Create show schedules and open the show up for
              submissions.
            </p>
            <p>
              Review and add acts from your performers, and run the
              show from your mobile device.
            </p>
          </div>
          <div class="col-md-6 col-md-4">
            <h3>Performers</h3>
            <p>
              Create and manage your acts with ease and
              submit them to posted shows.
            </p>
            <p>
              Upload your music or video track and specify your cues
              and other details to make your performance flawless.
            </p>
          </div>
          <div class="col-md-6 col-md-4">
            <h3>Tech crew</h3>
            <p>
              Download the entire show, pre-checked for file types and errors.
            </p>
            <p>
              During the show use the live cue list to track progress in real-time.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="seen-on" class="fus-section fus-seen-on fus-white-bg">
      <div class="container">
        <div class="fus-section-header">
          <h3>As Seen At</h3>
        </div>
        <div class="fus-as-seen">
          <a href="http://www.hubbarevue.com/" target="_blank">
            <img src="<%=asset_path "home/hhr.png" %>" width="200" style="opacity: 0.3;">
          </a>
          <a href="http://bhofweekend.com/" target="_blank">
            <img src="<%=asset_path "bhof/bhof-logo-140px11-black.png" %>" width="200" style="opacity: 0.3;">
          </a>
          <a href="http://www.dnalounge.com/" target="_blank">
            <img src="<%=asset_path "home/dnalounge-bw.png" %>" width="200" style="opacity: 0.5;">
          </a>
        </div>
      </div>
    </div>
    
    <footer class="fus-section"> 
      <div class="fus-overlay"></div>
      <div class="container">
        <ul class="list-inline">
          <li><a href="/about/faq">FAQ</a></li>
          <li><a class="scrollto" href="#feature">Features</a></li>
          <li><a class="scrollto" href="#pricing">Pricing</a></li>
          <li><a href="/about/support">Support + Documentation</a></li>
          <li><a href="mailto:sales@troupeit.com">Contact Us</a></li>
        </ul>
        <div class="credit">
          <a href="#top" class="scrollto" class="footer-brand">&copy;<%= Time.now.year %> troupeIT</a>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $("body").addClass("js");

        $(".zoom-images").zoomScroller({
           animationTime: 2e3,
           easing: "ease",
           initZoom: 1.15,
           zoom: 1
        });

        $("a.scrollto").click(function(e) {
           e.preventDefault();
           var t = $($(this).attr("href"));
           $("html, body").animate({
              scrollTop: t.offset().top - 53
           }, 1e3)
        });

  $("#select-options a").click(function(e) {
    $("#select-options li").removeClass("active");
    $(this).parent().addClass("active");
    $("body").attr("class", "");
    $("body").addClass("fus-" + $(this).attr("href").substring(1))
  });

  $(window).scroll(function() {
    if ($(this).scrollTop() > 695) {
      $(".navbar").addClass("fus-navbar-solid")
    } else {
      $(".navbar").removeClass("fus-navbar-solid")
    }
  })
})
</script>
