<div class="panel panel-body">
  <h1>Listing Roles</h1>

<P>
  <a href="/roles/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign white"></i>&nbsp;Create New Role</a>
</P>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <div class="btn-group">  
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= link_to 'Show', role, :class=>'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_role_path(role), :class=>'btn btn-success' %></td>
        <td><%= link_to 'Destroy', role, method: :delete, :class=>'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>
</div>
