<% content_for :scripts do -%>
<%= javascript_include_tag "upload" %>
<% end -%>
<div id="stylized" class="myform">
<h1>File Upload</h1>
<%= form_for :file_upload, :id=> "form", :html => {:multipart => true} do |f| %>
<%= hidden_field_tag 'X-Progress-ID', @upload_uuid %>
<P>
Audio files should be MP3, and encoded at a bitrate no lower than 192Khz. Listen to your
music before uploading! Make sure it plays through and that it is the correct song.
</p>
<P>
The system will also verify your MP3 to ensure that it does not contain "dead air".
Music with more than 5 seconds of silence in it will be rejected. 
</P>
<P>
When uploading photos for display on the projector, files should be
at least 640x480 in resolution and 100dpi.
</P>
<label for="file_upload_File">File
<span class="small">The file to Upload</span>
</label>
<%= f.file_field :my_file, :class => "fileupload", :id =>"fileupload" %>
<br clear=all>

<label for="file_upload_Notes">Notes
<span class="small">Describe the file you're uploading (optional)</span>
</label>
<%= f.text_field :notes, :class => "textfield"  %>
<br clear=all>

<label for="file_upload_Sound_cue">Sound Cue
<span class="small">When should we start this song? (i.e. Posted on stage, when seated, etc.) Also, tell us how it ends. Fade out? Stop at a certain time? </span>
</label>
<%= f.text_field :sound_cue, :class=>"textfield" %>
<br clear=all>

<label for="file_upload_Light_cue">Light Cue
<span class="small">Any notes for the lighting guy?</span>
</label>
<%= f.text_field :light_cue, :class => "textfield" %>
<br clear=all>

<label for="file_upload_stage_notes">Stage Notes
<span class="small">Information about any props goes here</span>
</label>
<%= f.text_field :stage_notes, :class => "textfield" %>
<br clear=all>

<%= f.submit "Upload", :class => "uploadbutton" %>
<% end %>
</div>

</div>
<br clear=all>
