<style>
  .pricebox {
    font-size:14px;
    vertical-align: middle !important;
    margin-top: 40px;
  }

  .features li {
    margin-bottom:20px;
  }
  
  .pricebox h1 {
    font-size:18px;
    font-style: bold;
    vertical-align: middle !important;
  }

  .pricebox h2 {
    font-size: 24px;
    font-style: bold;
    vertical-align: middle !important;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .features {
    font-size:18px;
  }

</style>

<h3> <%=@company.name %></h3>

<ul class="nav nav-pills">
  <li role="presentation"><a href="/companies/<%=@company.id%>/edit">Settings</a></li>
  <li role="presentation" class="active"><a href="/companies/<%=@company.id%>/billing">Plans and Billing</a></li>
</ul>

<div class="panel panel-inverse">
	<div class="panel-heading">
    <% if @company.subscription_plan.present? and
          @company.subscription_plan.stripe_id != 'FREE' and
          @cancelled_plan == false -%>
      <a href="/subscription_plan/<%=@company.id%>/cancel" data-method="post"><button class="btn btn-xs btn-danger float-end">Cancel this Subscription</button></a>
      <% end %>


      <% if @cancelled_plan == true -%>
      <div class="badge badge-danger float-end">
        Plan has been cancelled and will end soon.
      </div>
      <% end -%>
      
    <h3 class="panel-title">Current Plan</h3>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">Plan Type:</div>
				<div class="col-sm-6"><B><%=@current_plan.name%></B></div>
			</div>

			<div class="col-sm-6">
				<div class="col-sm-6">File Storage (<%=@current_plan.file_storage == -1 ? "unlimited" : "limit " + @current_plan.file_storage.to_s + " MB"%>)</div>
				<div class="col-sm-6"><B>0 GB</B></div>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-6">Crew</div>
				<div class="col-sm-6">
					<B><%=pluralize(@crew_count, 'crew member')%></B>
            (<%=@current_plan.crew_size == -1 ? "No Limit" : "limit #{@current_plan.crew_size}" %>)
            <br>
						<B><%=pluralize( @performer_count, 'performers' )%></B>
          (<%= @current_plan.performer_limit == -1 ? "No Limit" : "limit #{@current_plan.performer_limit}"%>)
        </div>
			</div>
				<div class="col-sm-6">
					<div class="col-sm-6">Events:</div>
					<div class="col-sm-6"><B><%=@events_month%> this month <br/><%=@company.events.count %> Total</B></div>
				</div>
			</div>
   <% if @company.paid_through.present? -%>
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-6">Paid Until</div>
        <div class="col-sm-6"><B><%=@company.paid_through.strftime(LONG_DATE_FMT) %></B></div>
      </div>
    </div>
  <% end -%>
  </div>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h3 class="panel-title">Plans</h3>
  </div>
  <div class="panel-body">
  <P>
    All plans automatically renew at the end of their term, depending on what you have selected.<br>
    All sales are final. If you upgrade or downgrade your plan, changes will be pro-rated based on the day within the month of your upgrade.
  </P>
  <div class="row">
    <div class="col-md-7 features">
      <h2>Features</h2>
      <ul class="features">
        <li>Full access to troupeIT for you and your performers.</li>
        <li>Easy to manage access control and security for your show's information.</li>
        <li>Unlimited storage for your show's digital media</li>
        <li>Minimize the time spent managing your show with submisisons, real-time live view, and act submissions.</li>
        <li>Online Support and access to documentation at no additional charge.</li>
      </ul>
      <b>Save More</b> when you buy more than one month in advance.

    </div>
    
    <div class="col-md-offset-1 col-md-2">
      <ul class="media-list">
        <% @plans.each { |p|
           if p.stripe_id != "FREE"
             xlabeltext = "Subscribe for {{amount}}"
        -%>
        <div class="pricebox">
        <li>
          <h1><%=p.short_name%></h1>
          <h2>$<%=p.amount.to_f / 100 / p.interval_count %><small> per <%=p.interval%></small></h2>
        </li>

        <li class="media">
          <% if @current_plan.stripe_id == p.stripe_id and @cancelled_plan == false-%>
          <span class="badge">Current Plan</span>
          <% else -%>

          <% if @company.subscription_plan.nil? -%>
          <button id="buy-<%=p.stripe_id%>" class="btn btn-primary btn-lg btn-block buybtn" xamount="<%=p.amount%>" xplan="<%=p.stripe_id%>" xlabeltext="<%=xlabeltext%>" xname="<%=p.name%>">Subscribe</button>
          <% else -%>
          <a href="/subscription_plan/<%=@company.id.to_s%>/change?plan=<%=p.stripe_id%>" data-method="post"><button id="buy-<%=p.stripe_id%>" class="btn btn-success">Change Plan</button></a>
          <% end -%>
          
          <% end -%>
        </li>
        </div>
        <% end
           }
        -%>
      </ul>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  </div>
</div>

<script>
$(function () {

  $('[data-toggle="popover"]').popover();
  
  $('[data-toggle="popover"]').on('shown.bs.popover', function (event) {
	  event.preventDefault();
	  event.stopPropagation();
      var $pop = $(this);
      setTimeout(function () {
          $pop.popover('hide');
      }, 5000);
  });	
	
});

/* payment integration... */
var lasttoken = "";
var lastplan = "";
var lastamount = "";
var subinterval = "mo";

var handler = StripeCheckout.configure({
  key: '<%=@stripe_pk%>',
  image: '<%=image_path "troupeit-trussedlogo-260.png" %>',
  email: '<%=current_user.email%>',
  panelLabel: '',
  address: true,
  token: function(token) {
    // Use the token to create the charge with a server-side script.
    // You can access the token ID with `token.id`
    console.log("sucessfully got token from stripe");
    console.log(token);
    
    // ajax post to site with token ID
    var postdata = {
      "authenticity_token": AUTH_TOKEN,
      "stripetoken": token.id,
      "company_id": "<%=@company.id.to_s%>",
      "plan": lastplan,
      "amount": lastamount 
    };
    
    $.ajax({
      type: 'POST',
      url: "/subscription_plan/charge.json",
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify(postdata),
      success: function (response) {
        console.log("success");
        // rails will update flash for us, which this redirect should show. 
        window.location.href = "/companies/<%=@company.id.to_s%>/billing";
      },
      error: function (xhr, status, err) {
        console.error('payment token handler', status, err.toString());
        window.location.href = "/companies/<%=@company.id.to_s%>/billing";
      }
    });
  }
});

$('.buybtn').on('click', function(e) {
  // Open Checkout with further options
  lastplan = $(e.target).attr('xplan');
  labeltext = $(e.target).attr('xlabeltext');
  lastamount = $(e.target).attr('xamount');

  handler.open({
    name: 'troupeIT',
    description: $(e.target).attr('xname') + " plan",
    amount: $(e.target).attr('xamount'),
    panelLabel: labeltext,
    billingAddress: true
  });
  e.preventDefault();
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});

</script>
