<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @entry_techinfo.entry_id %>
</p>

<p>
  <strong>Song title:</strong>
  <%= @entry_techinfo.song_title %>
</p>

<p>
  <strong>Song artist:</strong>
  <%= @entry_techinfo.song_artist %>
</p>

<p>
  <strong>Act duration secs:</strong>
  <%= @entry_techinfo.act_duration %>
</p>

<p>
  <strong>Act name:</strong>
  <%= @entry_techinfo.act_name %>
</p>

<p>
  <strong>Act description:</strong>
  <%= @entry_techinfo.act_description %>
</p>

<p>
  <strong>Costume description:</strong>
  <%= @entry_techinfo.costume_Description %>
</p>

<p>
  <strong>Costume colors:</strong>
  <%= @entry_techinfo.costume_colors %>
</p>

<p>
  <strong>Props:</strong>
  <%= @entry_techinfo.props %>
</p>

<p>
  <strong>Other tech info:</strong>
  <%= @entry_techinfo.other_tech_info %>
</p>

<p>
  <strong>Setup needs:</strong>
  <%= @entry_techinfo.setup_needs %>
</p>

<p>
  <strong>Setup time secs:</strong>
  <%= @entry_techinfo.setup_time %>
</p>

<p>
  <strong>Breakdown needs:</strong>
  <%= @entry_techinfo.breakdown_needs %>
</p>

<p>
  <strong>Breakdown time secs:</strong>
  <%= @entry_techinfo.breakdown_time %>
</p>

<p>
  <strong>Sound cue:</strong>
  <%= @entry_techinfo.sound_cue %>
</p>

<p>
  <strong>Microphone needs:</strong>
  <%= @entry_techinfo.microphone_needs %>
</p>

<p>
  <strong>Lighting needs:</strong>
  <%= @entry_techinfo.lighting_needs %>
</p>

<p>
  <strong>Mc intro:</strong>
  <%= @entry_techinfo.mc_intro %>
</p>

<p>
  <strong>Aerial needs:</strong>
  <%= @entry_techinfo.aerial_needs %>
</p>

<%= link_to 'Edit', edit_entry_techinfo_path(@entry_techinfo) %> |
<%= link_to 'Back', entry_techinfos_path %>
