<style>
  input#invite_code {
    cursor: copy;
    color: #000000;
  }
</style>

<%= form_for(@company, :html => {:class => "form-horizontal"}) do |f| %>

    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h3 class="panel-title">Company Information</h3>
      </div>
      <div class="panel-body">
        <div class="control-group col-sm-6">
          <%= f.label :name, "Short Name *", :class => "control-label required" %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="control-group col-sm-6">
          <%= f.label :description, "Description", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :description, :class => "form-control" %>
          </div>
        </div>

        <div class="control-group col-sm-12">
          <%= f.label :long_description, "Long Description", :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :long_description, :class => "form-control" %>
          </div>
        </div>

        <P>&nbsp;</P>

        <div class="control-group col-sm-6">
          <%= f.label :private, "Make this company private (no public listing)?", :class => "control-label" %>
          <div class="controls">
            <%= f.check_box :private,  "data-render" => "switchery", :class=>"form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <%= f.label :require_invite, "Require invites to join this company?", :class => "control-label" %>
          <div class="controls">
            <%= f.check_box :invite_required, "data-render" => "switchery", :class => "form-control" %>
          </div>
        </div>

        <P>&nbsp;</P>

        <div class="control-group col-sm-6">
          <%= f.label :members_can_invite, "Who can invite people to this Company?", :class => "control-label" %>
          <div class="controls">
            <%= f.radio_button :members_can_invite, "0", checked: @company.members_can_invite == false %> Only Admins
            <BR>
            <%= f.radio_button :members_can_invite, "1", checked: @company.members_can_invite == true %> Admins and
            Members
          </div>
        </div>

        <div class="col-sm-6"></div>
        <P>&nbsp;</P>
        <div class="control-group col-sm-12 controls">
          <p></p>
          <a class="btn btn-danger" href="/companies/">Cancel</a>
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>


<script>
  $(document).ready( function() {
    renderSwitcher();
  });
</script>
