<h1>BHOF Member Search</h1>

<div class="panel">
  <div class="panel-body">
    <P>

        This data is from a cached copy of the BHOF member database (from Wild Apricot), copied every 12 hours.<BR>
        Member lookups (for verification) are done in real-time using the WA API. There may be differences between the two.
      </div>
</P>
<div class="well">
    <form class="form-inline">
      <div class="form-group">
        <label for="search">Search:</label>&nbsp;
        <input name="search" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        Search Name / Email / MemberID
      </button>
    </form>
    <%= paginate @bhof_members, params: { search: params[:search] } %>
    
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>MemberId</th>
          <th>E-Mail</th>
          <th>Status</Th>
          <th>Member since</th>
        </tr>
      </thead>
      
      <tbody>
        <% @bhof_members.each do |bhof_member| %>
        <tr>
          <td><%=bhof_member.first_name%></td>
          <td><%=bhof_member.last_name%></td>
          <td><%=bhof_member.memberid%></td>
          <td><%=bhof_member.email%></td>
          
          <td><%=bhof_member.membership_status%></td>
          <td><%=bhof_member.member_since%></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
</div>
