<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for(@role, :html => {:class => "form-horizontal"}) do |f| %>
  <fieldset>
      <% if @role.errors.any? %>
          <div class="alert alert-danger">
            <%= pluralize(@role.errors.count, "error") %> prohibited your application from being saved. Please
            correct the errors below and try again.
          </div>
      <% end %>

  <div class="form-group">
    <%= f.label :name, :class =>"col-sm-2 control-label required" %>
    <div class="col-sm-10">
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class =>"col-sm-2 control-label required" %>
    <div class="col-sm-10">
    <%= f.text_field :description %>
    </div>
  </div>

      <div class="form-group">
        <div class="col-sm-10">
          <%= link_to 'Cancel', roles_path, :class => "btn btn-danger" %>

          <% if @role.id != nil %>
              <%= f.submit "Update Role", :class => "btn btn-success" %>
          <% else %>
              <%= f.submit "Create Role", :class => "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
  </div>
</div>
