<script>
var BHOF_FINAL_DECISION = { 0 : "Out", 
                            1 : "Saturday (comp.) - Boylesque",
                            2 : "Saturday (comp.) - Large Group",
                            3 : "Saturday (comp.) - Small Group",
                            4 : "Saturday (comp.) - Debut",
                            5 : "Saturday (comp.) - MEW/Queen",
                            8 : "Saturday Alt Only",
                            6 : "Thursday (MSI Showcase)",
                            7 : "Thursday + Saturday Alt",
                            9 : "Thursday Alt Only",
                            10 : "Friday",
};
</script>


<h1>BHOF: Judging</h1>
  <% if @scores_closed -%>
  <div class="alert alert-danger">
    <P>Scoring for this event is currently disabled.</p>
  </div>
  <% end -%>
<P>

  <div class="panel">
    <div class="panel-body">
<% if ! @avgsorted.nil? -%>
<div class="bs-callout bs-callout-info" title="stats">
<P><B>Git 'er done!</B></P>
<P>
  <%=@stat_apps['cnt'] %> applications in system. 
  <%=@stat_apps['submitted'] %> submitted.
  <%=@stat_apps['paid_nosubmit'] %> paid but not submitted. 
  <%=(@stat_apps['cnt'] - @stat_apps['paid']) %> unpaid.
<BR>
  <%=@stat_apps['rated_one'] %> with at least one rating.
  <%=@stat_apps['rated_three'] %> with at least three ratings.
  <%=@stat_apps['rated_more'] %> with more than three ratings.
  <%=(@stat_apps['submitted'] - @stat_apps['rated_one']) %> remaining to be rated.
</p>
</div>
<form>
  <div class="row">
    <div class="col-md-6">
      Filter by Category/type: <%= select_tag('catfilter',options_for_select(BHOF_SELECT_HASH, @catfilter)) %>
    </div>
    <div class="col-md-6 pull-right">
      <input name="show_incomplete" id="show_incomplete" type="checkbox"> Include applications that have not been submitted.
    </div>
  </div>
</form>

    <div id="appTable" class="datatable">

      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="appslist" width=100%>
        <thead>
    <th>Rank (by&nbsp;avg)</th>
    <th>Owner</th>
		<TH>Type</TH>
		<TH>Category</TH>
    <TH>Compete Preference</TH>
		<TH>Stage Name</TH>
		<TH>Description</TH>
<% if not params[:final].present? -%>
		<TH>Status</TH>
<% end -%>
		<TH width=100>Min Score</TH>
		<TH width=100>Max Score</TH>
		<TH width=100>Avg Score</TH>
		<TH width=100>Norm. Score</TH>
		<TH width=100>Total Reviews</TH>
<% if params[:final].present? %>
    <th width=230>Final Decision</th>
<% else -%>
    <th width=230>Actions</th>
<% end -%>
    </thead>
      <tbody>
        <!-- data -->
        </tbody>
      </table>
    </div>
    <br/>

    <script>

      /* set up acts datatable */
      $.extend($.fn.dataTableExt.oStdClasses, {
      "sWrapper": "dataTables_wrapper form-inline"
      });
      
        $(document).ready(function () {
            appsDT = $('#appslist').DataTable({
                ajax: "/apps/adminindex.json?incomplete=0&catfilter=" + $("select#catfilter").val() ,
                saveState: true,
                bStateSave: true,
                processing: true,
                iDisplayLength: 10,
      		    	columns: [
		    		  { data: "rank" },
		    		  { data: "user" },
		    		  { data: "type" },
  					  { data: "category" },
              { data: "comppref" },
		    		  { data: "performername" },
		    		  { data: "description" },
<% if params[:final].present? == false -%>
  					  { data: "status" },
<% end -%>
		    		  { data: "min_score_s", sClass: "alignRight" },
		    		  { data: "max_score_s", sClass: "alignRight" },
		    		  { data: "avg_score_s", sClass: "alignRight" },
		    		  { data: "norm_score_s", sClass: "alignRight" },
		    		  { data: "review_cnt", sClass: "alignRight" },
   					  { data: "id" }
		     	  ],
            order: [[ 3 ,'asc']],
            oLanguage: {
                  "sLengthMenu": "Show&nbsp;<select size=1 name=appslist_length aria-controls=\"appslist\"><option value='5'>5</option><option value='10'>10</option><option value='50'>50</option><option value='100'>100</option></select>&nbsp;apps per page. &nbsp;&nbsp;",
                    "sSearch": "Search "
            },
		        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
		         var id = $('td:last',nRow).html();
		         var content = $('td:last',nRow).html();

		         if ((content.indexOf("btn") == -1) && (content.indexOf('select') == -1 )) { 
             <% if params[:final].present? -%>
               $('td:nth(6)', nRow).html("<a href=\"/apps/" + id + "/review?catfilter=" + $("select#catfilter").val() + "&final=1\">" + $('td:nth(6)',nRow).html() + '</a>');

               var options = "";

               $.each(BHOF_FINAL_DECISION, function(bh_k, bh_v) { 
                 sel = ""
                 if (bh_k == aData.final_decision) { sel = " SELECTED"; }
 
                 options = options + "<OPTION VALUE=\"" + bh_k + "\"" + sel + ">"+ bh_v + "</OPTION>";
               });

               <% if @scores_closed -%>
                 decider_select = BHOF_FINAL_DECISION[aData.final_decision];
               <% else -%>
                 decider_select = "<SELECT class=\"form-control select decider\" id=\"fd_" + id + "\">" + options + "</SELECT>";
               <% end -%>

         			 $('td:last', nRow).html(decider_select);
             <% else -%>
       			 $('td:last', nRow).html(
    				 '<a class="btn btn-block btn-info btn-xs judgelink" href="/apps/' + id + '/review"><i class="fa fa-gavel"></i> Judge</a>' +
               '<a class="btn btn-block btn-success btn-xs" href="/apps/' + id + '/dashboard"><i class="fa fa-pencil"></i> Edit</a>'
               <% if current_user.admin? -%>
               + '<a class="btn btn-block btn-danger btn-xs" href="/apps/' + id + '" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="fa fa-trash"></i> Delete</a>'
               <% end -%>
               );
             <% end -%>
		         }
		        }
			});


      /* set up the handler for the checkbox */
      $('input#show_incomplete').click(function() {
          var $this = $(this);
          var incomplete = 0; 

          if ($this.is(':checked')) {
            incomplete = 1; 
          } 
          appsDT.ajax.url( "/apps/adminindex.json?incomplete=" + incomplete + "&catfilter=" + $("select#catfilter").val()).load();
      });

      $('select#catfilter').change(function() {
          var $this = $(this);
          var incomplete = 0; 

          if ($this.is(':checked')) {
            incomplete = 1; 
          } 
          appsDT.ajax.url( "/apps/adminindex.json?incomplete=" + incomplete + "&catfilter=" + $("select#catfilter").val()).load();
      });

      $('#appslist tbody').delegate( "select.decider", "click", function() {
        var $this = $(this);
        var name = $this.attr('id');
        var res = name.split('_');
        var appid = res[1];

        // this is the 'we don't know what you meant' color state
        $("select#"+name).css('background','#ffcc33');
        $("select#"+name).css('color','#000000');
      });

      $('#appslist tbody').delegate( "select.decider", "change", function() {
        var $this = $(this);
        var name = $this.attr('id');
        var res = name.split('_');
        var appid = res[1];

        var appdata = {
         "authenticity_token" : AUTH_TOKEN,
         "final_decision": $this.val()
        };

        // update the record
        $.ajax({
          type: 'PUT',
             dataType: 'json',
             url: '/apps/' + appid + '.json',
             contentType: 'application/json',
             data: JSON.stringify(appdata),
             success: function(response) { 
               $("select#"+name).css('background','#98fb98');
               $("select#"+name).css('color','#000000');
             },
             error: function(xhr, textStatus, error) { 
               console.log(xhr.statusText);
               $("select#"+name).css('background','#990000');
               $("select#"+name).css('color','#ffffff');
             }
           });
      });

      $('#appslist tbody').delegate( "a.judgelink", "click", function() {
         // before passing on to the judge page, capture the current
         // sort order and forward it on.
         var $this = $(this);
         var oTable = $('#appslist').dataTable();
         var oSettings = oTable.fnSettings();
         $this.attr('href', $this.attr('href') + "?catfilter=" + $("select#catfilter").val() + "&sort=" + oSettings.aoColumns[oSettings.aaSorting[0][0]].data + "&dir=" + oSettings.aaSorting[0][1]);
      });

    });

    </script>

<% else -%>

    <H3> There are no applications. </h3>

<% end -%>

    </div>
  </div>
  
