
<P class="float-end noprint">
  <a href="finalreport.csv">Download as CSV</a>
</P>

<TABLE class="table">
  <% [0, 6, 9, 7, 10, 8, 1, 2, 3, 4, 5].each { |a|
     if @apps[a].present?
  -%>
     <TR>
       <TD COLSPAN=9 ALIGN=CENTER>&nbsp;</TD>
     </TR>

     <TR>
       <TD COLSPAN=9 ALIGN=CENTER><h3><%=BHOF_FINAL_DECISION[a]%> (<%=@apps[a].length%> applications)</h3></TD>
     </TR>
     <% if (a != 0) %>
  <TR>
    <TH>Performer Name</TH>
    <TH>Submitter's Name</TH>
    <TH>Description</TH>
    <TH>Avg Score</TH>
    <TH>Type</th>
    <TH>Category</TH>
    <TH>Number of Performers</TH>
    <TH>Performer URL</TH>
    <TH>RSVP?</TH>
  </TR>
  <%
     @categorysorted = @apps[a].sort_by { |obj| obj.entry.name }
     @categorysorted.each { |ae| -%>
          <TR>
            <TD COLSPAN=1><a href="<%=review_app_path(ae)%>"><%=ae.entry.name%></a><BR>
            <i><%=ae.entry.city_from%></i></TD>
            <TD COLSPAN=1><%=ae.user.name%></TD>
            <TD COLSPAN=1><%=ae.description%></TD>
            <TD><%=number_with_precision(@appscores[ae.id][:stats]['avg'], precision:2) %></TD>
            <TD COLSPAN=1><%=type_to_s(ae.entry.type) %></TD>
            <TD COLSPAN=1><%=cat_to_s(ae.entry.category) %></TD>
            <TD ALIGN=CENTER COLSPAN=1><%=ae.entry.num_performers ? ae.entry.num_performers : 1 %></TD>
            <TD COLSPAN=1><%=ae.entry.performer_url %></TD>
            <TD COLSPAN=1 ALIGN=CENTER>
              <% case ae.decision_rsvp %>
              <% when 1 %>
                <span class="label label-success">Accepted</span>
              <% when 0 %>
                <span class="label label-danger">Declined</span>
              <% else %>
                <span class="label label-default">No Answer</span>
              <% end -%>
            </TD>
          </TR>
     <% }
        end
        end
        }

     %>
 </TR>
</TABLE>
