  <h1> File Upload </h1>

  <blockquote>
  Upload your files here. Either drag and drop a song from your computer
  right onto this screen or select them by clicking "Add Files".  When
  you've selected your files, click "Start Upload" to begin.
  </blockquote>
  <br>
  <!-- The file upload form used as target for the file upload widget -->
  <form id="fileupload" action="/passets/create" method="POST" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <noscript><input type="hidden" name="redirect" value="/"></noscript>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="col-lg-7">
        <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
        <button type="submit" class="btn btn-primary start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
        <!-- The global file processing state -->
        <span class="fileupload-process" style="display:none"></span>
      </div>

      <!-- The global progress state -->
      <div class="col-lg-5 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
        <!-- The extended global progress state -->
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

  </form>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload Guidelines</h3>
    </div>
    <div class="panel-body">
     <% if @is_hubba_user == true -%> 
        <ul>
            <li>The maximum file size for uploads is <strong>25 MB</strong>. If you need to send us a large file (a long video, for example) please bring a DVD to the show.</LI>
            <li>Only image files (<strong>JPG, JPEG, GIF, or PNG</strong>), audio files (<strong>MP3, MP4, or M4A</strong>), and
              Movies (<strong>M4V, MP4 or Quicktime MOV</strong>) are allowed</li>
            <li>You cannot upload <STRONG>M4P</STRONG> files. These are DRM protected files, purchased from the iTunes Store and we cannot play them. Don't rename them - it won't help. </LI>
            <li>When uploading photos for display on the projector, files should beat least 640x480 in resolution and 100dpi.</li>
            <LI>Audio files should be MP3 and encoded at a bitrate no lower than 192Khz. Listen to your
music before uploading! Make sure it plays through and that it is the correct song.</li>
            <li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage with Google Chrome, Mozilla Firefox and Apple Safari.</li>
        </ul>
        <% else -%>
        <ul>
          <li>You can upload files of any size and format to TroupeIT.</li>
          <li>Audio files in MP3 format and images in JPEG and PNG can be previewed on the site</li>
        </ul>
        <% end -%>
    </div>
  </div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<%= javascript_include_tag "tmpl.min.js" %>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<%= javascript_include_tag "load-image.all.min.js" %>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<%= javascript_include_tag "canvas-to-blob.min.js" %>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<%= javascript_include_tag "jquery-fileupload/jquery.iframe-transport.js" %>
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload.js" %>
<!-- The File Upload processing plugin -->
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-process.js" %>
<!-- The File Upload image preview & resize plugin -->
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-image.js" %>
<!-- The File Upload audio preview plugin -->
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-audio.js" %>
<!-- The File Upload video preview plugin -->
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-video.js" %>
<!-- The File Upload validation plugin -->
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-validate.js" %>
<%= javascript_include_tag "jquery-fileupload/jquery.fileupload-ui.js" %>
<!-- The main application script -->
<%= javascript_include_tag "fileupload-local.js" %>
