<div class='modal' id='moveModal' style='display: none' tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Targeted Move</h4>
     </div>

  <%= form_for @show_item, :html => { :class => "form-horiziontal" } do |f| -%>
  <div class='modal-body'>
    <div class="alert alert-danger" style='display: none' id='moveflash'>
      Invalid destination specified. Must be numeric and within the existing set list. 
    </div>
    <div class="control-group">
      <%= f.label :seq, "Move the selected item to which position?", :class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :seq, :class=>"input-xlarge" %>
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <%= f.hidden_field :show_id, :value=> @show.id  %>
    <button class="btn btn-primary" id="move-form-submit">Move Act</button>
  </div> <!-- /.modal-footer --> 
  <% end -%>
  </div> <!-- /.modal-content --> 
 </div>  <!-- /.modal-dialog --> 
</div> <!-- /.modal --> 

<script>
  //<![CDATA[
    $(function() {
      // wire up the buttons to dismiss the modal when shown
      $("#moveModal").bind("show", function() {
        $("#moveModal a.btn").click(function(e) {
          // hide the dialog box
          $("#moveModal").modal('hide');
        });

      });
      // remove the event listeners when the dialog is hidden
      $("#moveModal").bind("hide", function() {
          // remove event listeners on the buttons
          $("#moveModal a.btn").unbind();
      });

      // finally, wire up the actual modal functionality and show the dialog
      $("#moveModal").modal({
        "backdrop" : "static",
        "keyboard" : true,
        "show" : true // this parameter ensures the modal is shown immediately
      });

      $('#move-form-submit').on('click', function(e){
        // We don't want this to act as a link so cancel the link action
        e.preventDefault();

        position = $('#show_item_seq').val();
        position_i = parseInt(position);

        if (isNaN(position_i) || (position_i < 1) || (position_i > $('#showlist').dataTable().api().data().length)) { 
          $("#moveflash").show();
          return;
        }

        // passed validations
        $("#moveflash").modal('hide');
        $("#moveModal").modal('hide');

        // first instance is  the add box, second instance is the length box.
        var actdata = {
          "authenticity_token" : AUTH_TOKEN,
          'show_id':'<%=@show.id%>',
          'new_location': position_i 
        };

        console.log(actdata);

        $.ajax({
          type: 'POST',
              dataType: 'json',
              url: '/show_items/' + show_item_id.value + '/moveexact.json',
              contentType: 'application/json',
              data: JSON.stringify(actdata),
              success: function() { 
                 showDT.fnReloadAjax();
              }
          });

        });
    });
  //]]>
</script>
