<div class="noprint">
  <!-- layouts/footer -->
  <div id="footer" class="hidden-xs">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav">  
          <li><a href="#">&copy; <%=Time.new.year%> TroupeIT, Inc.</a></li>
          <li><%= link_to "Support", "/about/support" %></li>
          <li><%= link_to "Privacy Policy", "/about/privacy" %></li>
          <li><%= link_to "Terms of Service", "/about/tos" %></li>
          <li><%= link_to "Blog", "/blog" %></li>
          <li><%= link_to "BHOF", "/bhof" %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
