
<nav id="header" class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid"> 
    <!-- fluid here expands to entire window, container itself has margins -->
    <!-- begin navbar-brand -->
    <a class="navbar-brand ms-3 me-3" href="/">TroupeIT</a>
    <!-- end navbar-brand -->
			<!-- begin navbar-toggle -->
      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#header-navbar" 
              aria-controls="navbarNavDarkDropdown" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
			<!-- end navbar-toggle -->
			<!-- begin navbar-collapse -->
			<div class="collapse navbar-collapse" id="header-navbar">
				<ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? -%> 
        <% if current_user.try(:admin?) -%>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            Admin<b class="caret"></b>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/acts">Acts</a>
            <a class="dropdown-item" href="/companies/adminindex">Companies</a>
            <% if current_user.has_role?(:decider_access) -%>
              <a class="dropdown-item" href="/deciders">Deciders</a>
            <% end -%>
            <a class="dropdown-item" href="/passets/nindex">Files</a>
            <a class="dropdown-item" href="/signup_invites">Invite Codes</a>
            <a class="dropdown-item" href="/roles">Roles</a>
            <a class="dropdown-item" href="/shows">Shows</a>
            <a class="dropdown-item" href="/users">Users</a>
          </div>
        </li>
        <% end -%>
        <% if current_user.try(:admin?) or current_user.has_role?(:bhof_judge) or current_user.has_role?(:bhof_scorer) -%>
          <!-- BHOF Admin Menu -->
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="bhofMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BHOF <%=::BHOF_YEAR%><b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="bhofMenu">
              <a class="dropdown-item" href="/bhof/">Introduction and Rules</a>
              <% if current_user.has_role?(:bhof_judge) or current_user.has_role?(:bhof_scorer) -%>
                <a class="dropdown-item" href="/apps/scoreindex">Reviewer: Review BHOF Applications</a>
              <% end -%>
              <% if current_user.has_role?(:bhof_judge) -%>
                <a class="dropdown-item" href="/apps/adminindex">Judge: Judge All Applications</a>
                <a class="dropdown-item" href="/apps/adminindex?final=1">Judge: Final Selection</a>
                <a class="dropdown-item" href="/apps/finalreport">Judge: Final Report</a>
                <a class="dropdown-item" href="/apps/finalvideos">Judge: Final Report (videos)</a>
                <a class="dropdown-item" href="/bhof_members">BHOF Member Database Search</a>
              <% end -%>
            </div>
          </li>
        <% end -%>
        <!-- Avatar/Profile -->
        <li class="nav-item dropdown" id="mobileHelpMenu">
            <a class="nav-link dropdown-toggle" href="#" id="mobileHelpMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="mobileHelpMenu">
              <li><%= link_to "Support", "/about/support", class: "dropdown-item" %></li>
              <li><%= link_to "Privacy Policy", "/about/privacy", class: "dropdown-item" %></li>
              <li><%= link_to "Terms of Service", "/about/tos", class: "dropdown-item" %></li>
            </ul>
        </li>
      </ul>
      <!-- right side -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="avatarMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= react_component 'Avatar', 
                props:
                  {
                    :name => current_user.name.titleize, 
                    :facebookId => current_user.uid, 
                    :src => current_user.avatar_uuid, 
                    :round => true, 
                    :size => 30, 
                    :navstyle => true
                  } %>
          </a>
          <!-- profile dropdown menu -->
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarMenu">
            <li><a class="dropdown-item" href="/settings/edit/">Edit Profile</a></li>
            <% if current_user.stripe_customer_id.present? -%>
              <li><a class="dropdown-item" href="/invoices">Billing History</a></li>
            <% end -%>
            <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { no_turbolink: true }, class: "dropdown-item" %></li>
          </ul>
        </li>

        <% if current_user.companies.count > 0 -%>
          <li class="nav-item d-flex align-items-center ms-3 me-3">
            <a href="/?sc=1" class="nav-link p-0">
              <button class="btn btn-info btn-sm"><i class="fa-solid fa-plus"></i> Create Event</button>
            </a>
          </li>
        <% end -%>  
      </ul>
      <% else -%>
        <!-- Not logged in menu -->
        <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: "nav-link" %></li>
      <% end -%>      
      <!-- end navbar-collapse -->
    </div>
		<!-- end container -->
</nav>
<!-- end #header -->