<!DOCTYPE html>
<html>
  <head>
  <title>troupeIT - Simple Stage Management Software</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%=render 'layouts/meta' %>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>

  <%= javascript_import_module_tag "@fortawesome/fontawesome-free" %>
  <style>
  .content {
    padding-top: 80px; /* Adjust this value based on the height of your navbar */
  }
  </style>
  <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
</head>
<body class="pace-done pace-top" data-bs-spy='scroll' data-bs-target='#header' data-bs-offset='100'>
  <%=render 'layouts/noscript' %>
  <div id="wrap">
    <div class="noprint">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="container content">
      <%= render 'layouts/messages' %>
      <%=yield%>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
