<!doctype html>
<html lang="en">
<head>
  <%=render 'layouts/meta' %>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <style>

    .liveshowtitle  {
      font-size: 20px;
      color: #fff;
    }

    .liveshowsubtitle  {
      font-size: 16px;
      color: #ddd;
    }

    .liveshowtitlearea {
      height: 60px;
      margin: auto;
    }

    /* alright, i'm gonna be a dick about this.
     * I can't fucking  make the iphone work right
     * so I'm going to put it on the user.
     */

    #rotateme {
      opacity:0.8;
      background-color:#000;
      color:#fff;
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      z-index:10000;
      text-align: center;
      display: none;
      padding: 30px;
    }

    .rotateme_help {
      margin: 0 auto;
      width: 100%;
      color: #fff;
      font-size: 24px;    
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin: auto;
    }

    #tablehide {
      display: block;
    }
    
    /* only when orientation is in portrait mode */
    @media screen and (orientation:portrait) {
      #rotateme {
         display: block;
      }

      #tablehide {    
         display: none;
      }
    }
  </style>
  <title>troupeIT Stage Management</title>
</head>
<body>
  <div id="rotateme">
    <div class="rotateme_help">
      <p>
        <img src="<%=asset_path "icon-horizontal.jpg"%>" alt="rotate device">
      </p>
      <p>
        Live View works best in landscape.
      </p>
      <P>
        Please rotate your device or<br>make your window wider.
      </p>
    </div>
  </div>
<div id="wrap">
  <div class="noprint">
    <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#liveNavBar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs" href="/">troupeIT</a>
              <span class="visible-xs" style="color: #fff">
                <p>TroupeIT</p>
                <%=@event.company.name%><br/>
                <%=truncate(@show.title, length:50)%>
              </span>
        </div>
        <div class="collapse navbar-collapse" id="livenavbar">
          <div class="liveshowtitlearea hidden-xs">
            <span class="liveshowsupertitle" id="liveshowsupertitle"><%=@event.company.name%><br/></span>
            <span class="liveshowtitle" id="liveshowtitle"><%=truncate(@show.title, length:50)%></span>
            <button type="button" data-toggle="dropdown" class="btn btn-inverse btn-xs dropdown-toggle">
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% @event.shows.each { |s| -%>
                <li>
                  <a href="/shows/<%=s._id.to_s%>/live">
                    <%=s.show_time.to_time.in_time_zone('US/Pacific').strftime(SHORT_DATE_FMT) %> -
                    <%=s.title %>
                  </a>
                </li>
              <% } -%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="tablehide">
      <div class="container-fluid">
        <%=yield %>
      </div>
</div>


</body>
</html>

